.rights.text-center
			.mediaInfo
				a(href='https://www.facebook.com/profile.php?id=100027075524795')
					i.fab.fa-facebook
				a(href='https://github.com/ArpitPatel77')
					i.fab.fa-github-square
				a(href='https://www.instagram.com/arpit_patel_77/')
					i.fab.fa-instagram
				a(href='https://www.linkedin.com/in/arpit-patel-a59a62170/')
					i.fab.fa-linkedin
			div
				| "Copyright © 2019"
				strong Arpit Patel
				|       ".All Rights detached"