nav#navigation.navbar.navbar-expand-lg.full-width
			a.navbar-brand(href='/') ARPIT
			#navbarNav.collapse.navbar-collapse
				ul.navbar-nav
					li.nav-item.active
						a.nav-link(href='/') Home
					li.nav-item
						a.nav-link(href='./about') About Me
					li.nav-item
						a.nav-link(href='./projects') Projects
					li.nav-item
						a.nav-link(href='./contact') Services
					li.nav-item
						a.nav-link(href='./contact') Contact