doctype html
html
	head
		title Portfolio
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://kit.fontawesome.com/a076d05399.js')
	body
		include partials/header.pug

		.effect1
		.hill
			.dhruv
				.milan
					p.arpit ARPIT PATEL
					p.dhwanil Web Developer && iOS Developer
			.tirth
				a(href='https://www.facebook.com/profile.php?id=100027075524795')
					i.fab.fa-facebook
				a(href='https://github.com/ArpitPatel77')
					i.fab.fa-github-square
				a(href='https://www.instagram.com/arpit_patel_77/')
					i.fab.fa-instagram
				a(href='')
					i.fab.fa-linkedin
			.firstButton
				ul.firstButton
					li
						a(href='./projects') PORTFOLIO
					li
						a(href='/about') ABOUT ME
		#about.section
			.container
				.row
					.col-md-5
						img.myPhoto(src='/images/profile1.jpeg')
					.col-md-7
						h3 It's About Myself!
						h4 Web Developer!! && iOS Developer!!
						p
							| Hi Eveyone..! I am Arpit@!!. I am a Computer Programmer Analyst(COPA) Student in Georgian College, which is located in Barrie. In Georgian college, I have learned some excellent skills in programming language. I have detail knowledge in HTML5 & CSS3 & JavaScript, which I love to work with it!!. I also have brief knowledge in programming language like Java, ASP.NET Framework, C# & also have knowledge in MySQL Database. I am instereted in iOS development, so I am currently working on Swift launguage. Also, making some application which is based on swift language!!!. I can design eye attractive websites @lso!!
						.pranav
							a(href='https://www.facebook.com/profile.php?id=100027075524795')
								i.fab.fa-facebook
							a(href='https://github.com/ArpitPatel77')
								i.fab.fa-github-square
							a(href='https://www.instagram.com/arpit_patel_77/')
								i.fab.fa-instagram
							a(href='https://www.linkedin.com/in/arpit-patel-a59a62170/')
								i.fab.fa-linkedin
						.secondButton
							ul.secondButton
								li
									a(href='./about') More About Me
		#skills.skillsSection.section
			.container
				.row
					.col-md-12.text-center
						h2 Skills
						p Something, I love to work in computer!!
						.proSkill
							.skill.col-md-3
								span.chart(data-percent='95')
									span.percent 95
									canvas(height='152', width='152')
								h4 HTML & CSS
								p Most common launguage used by me in most of Project!
							.skill.col-md-3
								span.chart(data-percent='75')
									span.percent 75
									canvas(height='152', width='152')
								h4 Swift
								p Use in iOS based development!!
							.skill.col-md-3
								span.chart(data-percent='80')
									span.percent 80
									canvas(height='152', width='152')
								h4 JavaScript
								p Used this launguage to make responsive websites!
							.skill.col-md-3
								span.chart(data-percent='70')
									span.percent 70
									canvas(height='152', width='152')
								h4 Other
								p I have brief knowledege in every launguage which is use for projects!
		#contact.contactSection.section
			.col-md-12.text-center
				h2 Let's Get in Touch
			.row.contactInfo
				.col-md-4.text-center
					.contact-email
						i.fa.fa-envelope
						|           E-mail
					p arpitkpatel77@gmail.com
				.col-md-4.text-center
					.contact-address
						i.fas.fa-home
						|           Address
					p 44 Jeffrey Street, Barrie, Ontario, L4M 4L3
				.col-md-4.text-center
					.contact-phone
						i.fas.fa-phone
						|           Phone
					p +1(705)500-3770
				.col-md-12.thirdButton
					ul.thirdButton
						li
							a(href='') Get In Touch

include partials/footer.pug


