doctype html
html
  head
    title Portfolio
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .effect1
    #navigationBar.navigationBar
      ul
        li
          a(href='') Home
      ul
        li
          a(href='') Projects
      ul
        li
          a(href='') About Me
      ul
        li
          a(href='') Services
      ul
        li
          a(href='')  Contact Me
	
