doctype html
html
  head
    title Portfolio
  body
    #navigationBar.navigationBar
      ul
        li
          a(href='') Home
      ul
        li
          a(href='') Projects
      ul
        li
          a(href='') About Me
      ul
        li
          a(href='') Conract Me
	
