body {
	max-width: 100%;
	font-size: 15px;
	color: #333333;
	background-color: black;
	letter-spacing: 1px;
}
.effect1 {
	width: 100%;
	height: 100vh;
	background-image: url(/images/display.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.9);
}
#navigationBar {
	padding: 20px 0px;
}
.navigationBar ul{
	list-style-type: none;
}
.navigationBar li {
	float: left;
	font-size: 25px;
}

.navigationBar li a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
}
